/* general CSS */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&family=PT+Sans&display=swap');

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
body,
html {
    font-size: 10px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    line-height: 1.5;
    background-color: #000000;
}
/* navbar css */
.header{
    background-color: rgb(0, 0, 0);
    padding: 1rem 0;
}
.header .navbar-brand img{
    width:20rem;
    height: 10rem;
}
.header .navbar-nav .nav-link{
    color: wheat;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.35rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    margin: 0 0.2rem;
}
.header .nav-item:hover{
    color: blue;
}

.header .navbar-nav .nav-link:hover{
    color: blue;
    background-color: transparent;
}
.header .navbar-nav li:hover{
    display: block;
}
.header .navbar-toggler{
    color:white;
    font-size: 2rem;
    height: 2.7rem;
    padding: 0;
}
.header .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
} 

/*navbar media query*/
@media (max-width:991.5px) {

    /* 01 Navbar CSS */
.header .navbar-collapse{
    padding: 2rem;
}
.header .navbar-nav .nav-link{
    padding: 0.6rem 0.5rem;
    margin-bottom: 2rem;
}
}
@media (max-width:767.5px) {

    /*general CSS*/
body,
html{
    font-size: 8px;
}
}
@media (max-width:590px){
body,
html{
    font-size: 7px;
}
}
.bgimg{
    background-image: url('../images/bgimg2.jpg');
    background-size:cover; 
    color: #000000;
    height:80vh;
    width: 100%; 
    background-position: center;
    top: 100px;
    opacity: .7;
    margin-top: 140px;
}
.bgimg .img5{
    margin-bottom: 50px;
}
.bgimg .img5 .txting{
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    color: #000000;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: bold;
}
.bgimg .img5 .txting .txtborder{
    background-color: #ffffff76;
    color: #000000;
    opacity: .80;
    padding: 10px;
}
.banner-wrapper{
    text-align: center;
    padding: 80px 50px;
    border-radius: 8rem;
    margin-left: 3rem;
    margin-right: 3rem;  
}
.section-style1
{
    background-color: #000000d3;
}
.section-style1 h2{
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(223, 118, 7);
    font-size: 2.4vw;
}
.section-style1 p{
    color: wheat;
    font-family: 'Fira Sans', sans-serif;
    font-size: 150%;
    padding-top: 30px;
    text-align: justify;
}
.banner-wrapper .section-style1 .table-container{
    padding: 0 10%;
    margin: 40px auto 0;
    margin-top: 80px;
    margin-bottom: 100px;
}
.banner-wrapper .section-style1 .table-container .heading{
    margin-top: 10rem;
}
.banner-wrapper .section-style1 .table-container table{
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-collapse: collapse;
}
.banner-wrapper .section-style1 .table-container .table thead{
    background-color: #0f1035;
}
.banner-wrapper .section-style1 .table-container .table thead tr th{
    font-size: 150%;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: wheat;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #00000085;
}
.banner-wrapper .section-style1 .table-container .table tbody tr td{
    font-size: 150%;
    letter-spacing: 0.35px;
    font-weight: 800;
    color: black;
    background-color: rgb(247, 255, 245);
    padding: 8px;
    text-align: center;
    border: 1px solid #00000085;
}
.banner-wrapper .section-style1 .table-container .table tbody tr td .btn{
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: #0f1035;
    font-size: 150%;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
}
@media (max-width:767.5px) {
/*table css*/
    .banner-wrapper .section-style1 .table-container .table thead{
        display: none;
    }
    .banner-wrapper .section-style1 .table-container .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .banner-wrapper .section-style1 .table-container .table tr{
        margin-bottom: 15px;
    }
    .banner-wrapper .section-style1 .table-container .table tbody tr td .btn{
        margin-bottom: 15px;
        font-size: 10px;
        width: 80px;
        line-height: 25px;
    }
    .banner-wrapper .section-style1 .table-container .table tbody tr td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .banner-wrapper .section-style1 .table-container .table td:before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 10px;
        text-align: left;
    }
}
/*footer*/
footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li{
    list-style: none;
}
footer .social_icon li a,
footer .menu li a{
    font-size: 2em;
    color: #ffffff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translate(-10px);
}
footer .menu li a{
    font-size: 1.4em;
    color: #ffffff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.5em;
}
footer .wave{
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 90px;
    background: url('../images/wave.png');
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave 3s linear infinite;
}
@keyframes animateWave{
    0%{
        background-position-x: 800px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animateWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 800px;
    }
}
